.piano {
    width: 100dvw;
    height: 30dvh;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    overflow: hidden; 
    box-sizing: border-box;
}
.key-container {
    position: relative; 
    flex: 1;
    max-width: 32px;
    min-width: 0;
    height: 100%;
}
.key {
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border: solid 1px #C4C4C4;

}
.key p {
    margin: 0;
    padding: 0;
    user-select: none;
}

.key.white {
    margin: 0 1px;
    height: 100%;
    background-color: #EFEFEF;
    color: #C4C4C4;
}
.key.black {
    position: absolute;
    top: 0;
    right: -13px;
    width: 26px;
    height: 60%;
    background-color: #616061;
    color: #C7C7C7;

    z-index: 10;
}