body {
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.partition-box {
    flex: 1;
    width: 100dvw;
}
.piano-partition-page {
    display: flex;
    height: 100dvh;
    flex-direction: column;
}